.mark, .checkmark, .deletemark {
  cursor: pointer;
  display: inline-block;
  height: 22px;
  width: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark > div {
  background-color: lightgreen;
  filter: brightness(80%);
  position: absolute;
}

.checkmark:hover > div {
  filter: brightness(50%);
}

.checkmark > div.stem {
  height: 13px;
  left: 11px;
  top: 6px;
  width: 3px;
}

.checkmark > div.kick {
  border-right-style: none;
  height: 3px;
  left: 7px;
  position: absolute;
  top: 16px;
  width: 5px;
}

.deletemark > div {
  background-color: indianred;
  position: absolute;
}

.deletemark:hover > div {
  filter: brightness(50%);
}

.deletemark > div.stem {
  height: 13px;
  left: 11px;
  top: 5px;
  width: 3px;
}

.deletemark > div.kick {
  height: 3px;
  left: 6px;
  top: 10px;
  width: 13px;
}

.hidden {
  display: none !important;
}

.no-items {
  color: #333;
  text-align: center;
  font-size: larger;
  padding: 20px 0;
  background-color: white;
  opacity: 0.5;
}

.task {
  border: 1px solid black;
  margin: 5px 0;
  padding-left: 30px;
  position: relative;
}

.task > h5 {
  background-color: #555;
  border-left: 1px solid black;
  color: #eee;
  font-weight: normal;
  margin: 0;
  padding: 5px;
}

.task > .actions {
  bottom: 0;
  display: table-cell;
  padding: 3px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 75px;
}

.task > .actions > a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
}

.task > .detail {
  background-color: #eee;
  border-left: 1px solid black;
  padding: 3px 75px 3px 3px;
}

.task > .detail > h4 {
  margin: 0;
}

.task > .detail > p {
  font-size: smaller;
  margin: 0;
}

.active {
  background-color: lightgray;
}

.complete {
  background-color: lightgreen;
}

.overdue {
  background-color: indianred;
}

.unknown {
  background-color: white;
}
