// tasklist.scss

@import 'buttons';

$border: 1px solid black;

.hidden {
	display: none !important;
}

.no-items {
	color: #333; 
	text-align: center; 
	font-size: larger;
	padding: 20px 0; 
	background-color: 
	white; opacity: 0.5;
}

.task {
	border: $border;
	margin: 5px 0;
	padding-left: 30px;
	position: relative;
}

	.task > h5 {
		background-color: #555;
		border-left: $border;
		color: #eee;
		font-weight: normal;
		margin: 0;
		padding: 5px;
	}
	
	.task > .actions {
		bottom: 0;
		display: table-cell;
		padding: 3px;
		position: absolute;
		right: 0;
		text-align: right;
		width: 75px;
	}

		.task > .actions > a {
			display: block;
			padding: 0 5px;
			text-decoration: none;
		}

	.task > .detail {
		background-color: #eee;
		border-left: $border;
		padding: 3px 75px 3px 3px;
	}

		.task > .detail > h4 {
			margin: 0;
		}

		.task > .detail > p {
			font-size: smaller;
			margin: 0;
		}

.active {
	background-color: lightgray;
}

.complete {
	background-color: lightgreen;
}

.overdue {
	background-color: indianred;
}

.unknown {
	background-color: white;
}